<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html" />
  <head>
    <title>Plugins</title>
    <style>
    .lsel {
	    min-height: 24px !important;
    }
    .rsel {
	    float: right;
	    width: 24px !important;
    }
    </style>
  </head>

  <body>
    <h2>Manage Plugins</h2>

    <form id="addplug" class="addnew" method="post" enctype="multipart/form-data" action="">
      <fieldset>
        <legend>Install Plugin:</legend>
        <div class="field">
          <label i18n:msg="">
            File: <input type="file" name="plugin_file" disabled="${readonly or None}" />
          </label>
        </div>
        <p class="help" py:choose="readonly">
          <py:when test="True">
            The web server does not have sufficient permissions to store files in
            the environment plugins directory.
          </py:when>
          <py:otherwise>
            Upload a plugin packaged as Python egg.
          </py:otherwise>
        </p>
        <div class="buttons">
          <input type="submit" class="btn btn-warning" name="install" value="${_('Install')}"
                 disabled="${readonly or None}" />
        </div>
      </fieldset>
    </form>

    <form py:for="idx, plugin in enumerate(plugins)" method="post" action="">
      <!-- TODO: nested folding -->
      <div class="accordion" id="trac-plugin-${plugin.name}">
		<div class="accordion-group">
			<div class="accordion-heading">
		    	<h3 class="foldable"><a class="accordion-toggle" data-toggle="collapse" href="#${plugin.name}_collapseOne">&#x25BC; ${plugin.name} ${plugin.version}</a></h3>
			</div>
        <!--! FIXME: Plugin uninstall disabled as it is unreliable (#3545)
        <div class="uninstall buttons">
          <input type="hidden" name="plugin_filename"
                 value="${plugin.plugin_filename}" />
          <input type="submit" name="uninstall" value="${_('Uninstall')}"
                 disabled="${plugin.readonly or None}" />
        </div> -->
        <py:if test="plugin.info">
          <p class="summary">${plugin.info.get('summary')}</p>
          <dl py:if="'home_page' in plugin.info or
                     'author' in plugin.info or
                     'author_email' in plugin.info"
              class="info">
            <py:if test="'author' in plugin.info or 'author_email' in plugin.info">
              <dt>Author:</dt>
              <dd>
                <a py:strip="not plugin.info.get('author_email')"
                   href="mailto:${plugin.info.author_email}">
                  ${plugin.info.author or plugin.info.author_email}
                </a>
              </dd>
            </py:if>
            <py:if test="plugin.info.get('home_page')">
              <dt>Home page:</dt>
              <dd>
                <a onclick="window.open(this.href); return false"
                   href="${plugin.info.home_page}">${plugin.info.home_page}</a>
              </dd>
            </py:if>
            <py:if test="plugin.info.get('license')">
              <dt>License:</dt>
              <dd>${plugin.info.license}</dd>
            </py:if>
          </dl>
        </py:if>
		<div id="${plugin.name}_collapseOne" class="accordion-body collapse in">

        
        
          <div class="accordion" py:for="module_name, module in sorted(plugin.modules.iteritems())">
            <div class="accordion-group">
            <div class="accordion-heading">
	            <py:choose>
                    <a class="accordion-toggle class-name" data-toggle="collapse" data-parent="${module_name}" py:when="module.description" 
                       href="#trac-mod-${module_name.replace('.','_')}">${module_name}.*</a>
                    <span py:otherwise="" class="trac-name">${module_name}.*</span>
                 </py:choose>
            </div>
            <div id="${module_name.replace('.','_')}" class="accordion-body collapse in">
              <div py:with="show_doc = show == plugin.name or show == module_name" id="trac-mod-${module_name.replace('.','_')}"
                  class="trac-module${not show_doc and ' collapsed' or None} accordion-body collapse">
                <p class="trac-heading${module.description and ' foldable' or None}">
                                    <span py:if="module.summary" class="trac-summary"> &mdash; ${module.summary}</span>
                </p>
                <div py:if="module.description" xml:space="preserve">${safe_wiki_to_html(context, module.description)}</div>
              </div>
              
            <div py:for="component_name, component in sorted(module.components.iteritems())">
              <div class="rsel">
                <input py:if="not component.required" type="hidden" name="component"
                       value="${module_name}.${component_name}" />
                <input type="checkbox" name="enable"
                       value="${module_name}.${component_name}"
                       checked="${component.enabled or None}"
                       disabled="${component.required or None}" />
              </div>


              <div py:with="show_doc = show == plugin.name or show == component.full_name" id="trac-comp-${component.full_name}"
                  class="lsel trac-component${not show_doc and ' collapsed' or None}">
                <div class="trac-heading${component.description and ' foldable' or None}">
                  <py:choose>
                    <a py:when="component.description" class="trac-name accordion-toggle"
                       href="#trac-comp-${component_name}" data-toggle="collapse">${component_name}</a>
                    <span py:otherwise="" class="trac-name">${component_name}</span>
                  </py:choose>
                  <span py:if="component.summary" class="trac-summary"> &mdash; ${component.summary}</span>
                </div>
                <div py:if="component.description" xml:space="preserve" id="trac-comp-${component_name}" class="accordion-body collapse">${safe_wiki_to_html(context, component.description)}</div>
              </div>


            </div>
            </div>
            </div>
          </div>
        <div class="buttons">
          <input type="hidden" name="plugin" value="$idx" />
          <input type="submit" class="btn btn-primary" name="update" value="${_('Apply changes')}" />
        </div>
      </div>
		</div>

  </div>
    </form>
  </body>

</html>
